* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* todo útfæra útlit */
main {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}
.invalid {
  border-color: #c66;
  background-color: #f99;
}